#header {
	background-image: url(../../images/charlie-newman.jpg);
	background-size: cover;
}

#header > .content {
	background-color: rgba(0,0,0,0.75);
	padding: 20px;
	border-radius: 10px;
	margin: 100px 0;
}



/* FOOTER - 3 */
#three .white {
	color: #fff !important;
}

#three .shadow {
	text-shadow: 3px 3px 2px #444444;
}
#three h4 {
	font-size: 2.5em !important; 
}
#three p {
	font-size: 1.5em !important; 
}